if [ -e /dev/vda ]; then
	export DISK=vda
else
	export DISK=sda
fi

export HOSTNAME=${HOSTNAME//./}
export KEYMAPOPTS="us us"
export INTERFACESOPTS="auto lo
iface lo inet loopback

auto eth0
iface eth0 inet dhcp
    hostname $HOSTNAME
"
export TIMEZONEOPTS="-z UTC"
export PROXYOPTS="none"
# Use the first mirror (CDN) and enable community repo
export APKREPOSOPTS="-1 -c"
export SSHDOPTS="-c openssh"
export NTPOPTS="-c openntpd"
export USEROPTS="-u vagrant"
export ERASE_DISKS="/dev/$DISK"
export DISKOPTS="-s 0 -m sys /dev/$DISK"
export HOSTNAMEOPTS="-n $HOSTNAME"